<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boniu.account.repository.api.AccountCancelApplyMapper">
    <resultMap id="BaseResultMap" type="com.boniu.account.repository.entity.AccountCancelApplyEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="apply_id" jdbcType="VARCHAR" property="applyId"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectByAccountId" resultMap="BaseResultMap">
        SELECT * FROM account_cancel_apply
        WHERE account_id = #{accountId}
        ORDER BY id DESC
        LIMIT 0, 1
    </select>

    <insert id="save" parameterType="com.boniu.account.repository.entity.AccountCancelApplyEntity">
        INSERT INTO account_cancel_apply (apply_id, account_id, app_name, apply_time, status, cancel_time, create_time)
        VALUES (#{applyId}, #{accountId}, #{appName}, #{applyTime}, #{status}, #{cancelTime}, #{createTime})
    </insert>

    <update id="update" parameterType="com.boniu.account.repository.entity.AccountCancelApplyEntity">
        UPDATE account_cancel_apply
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE account_id = #{accountId}
    </update>

    <select id="selectAuditList" resultMap="BaseResultMap">
        SELECT *
        FROM account_cancel_apply
        WHERE `status` = 'AUDITING'
    </select>

    <update id="updateCancelStatusByAccountIds"
            parameterType="com.boniu.account.repository.entity.AccountCancelApplyEntity">
        UPDATE account_cancel_apply SET `status` = 'CANCEL', cancel_time = NOW(), update_time = NOW()
        WHERE account_id IN
        <foreach collection="accountIds" index="index" item="accountIds"
                 open="(" separator="," close=")">
            #{accountIds}
        </foreach>
    </update>
</mapper>