<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boniu.account.repository.api.AccountScoreMapper">
    <resultMap id="BaseResultMap" type="com.boniu.account.repository.entity.AccountScoreEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="total_score" jdbcType="INTEGER" property="totalScore"/>
        <result column="remain_score" jdbcType="INTEGER" property="remainScore"/>
        <result column="received_account" jdbcType="VARCHAR" property="receivedAccount"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectByAccountId" resultMap="BaseResultMap">
        SELECT * FROM account_score WHERE account_id=#{accountId}

    </select>

    <insert id="save" parameterType="com.boniu.account.repository.entity.AccountScoreEntity">
        INSERT INTO account_score (account_id, app_name, total_score, remain_score,times, create_time)
        VALUES (#{accountId}, #{appName}, #{totalScore}, #{remainScore},#{times}, NOW())
    </insert>

    <update id="update" parameterType="com.boniu.account.repository.entity.AccountScoreEntity">
        UPDATE account_score SET update_time =NOW()
        <if test="times != null">,times = #{times}</if>
        <if test="totalScore != null">,total_score = #{totalScore}</if>
        <if test="remainScore != null">,remain_score = #{remainScore}</if>
        <if test="receivedAccount != null and receivedAccount != ''">,received_account = #{receivedAccount}</if>
        <if test="realName != null and realName != ''">,real_name = #{realName}</if>

        WHERE account_id = #{accountId}
    </update>
</mapper>