<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boniu.account.repository.api.AccountMainMapper">
    <resultMap id="BaseResultMap" type="com.boniu.account.repository.entity.AccountMainEntity">
        <id column="id" property="id" javaType="long"/>
        <result column="main_account_id" property="mainAccountId" javaType="java.lang.String"/>
        <result column="mobile" property="mobile" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

    <!-- 通过条件查询 -->
    <select id="selectBy" resultMap="BaseResultMap">
        SELECT * FROM account_main WHERE 1 = 1
        <if test="mainAccountId != null and mainAccountId != ''">AND main_account_id = #{mainAccountId}</if>
        <if test="mobile != null and mobile != ''">AND mobile = #{mobile}</if>
    </select>

    <!-- 插入数据 -->
    <insert id="saveAccountMain" parameterType="com.boniu.account.repository.entity.AccountMainEntity">
        INSERT INTO account_main(main_account_id, mobile, create_time)
        VALUES (#{mainAccountId}, #{mobile}, #{createTime})
    </insert>

    <!-- 更新数据 -->
    <update id="updateAccountMain" parameterType="com.boniu.account.repository.entity.AccountMainEntity">
        UPDATE account_main
        <set>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE main_account_id = #{mainAccountId}
    </update>
</mapper>